body{
    background-color: rgb(161, 161, 152);
}
#main{
    height: 450px;
    width: 650px;
    border: 3px solid black;
    margin: auto;
    margin-top: 8%;
    background: linear-gradient(180deg,rgb(123, 231, 231),rgb(255, 255, 254),#70edf1);
    margin-left: 450px;
    border: 6px solid rgb(255, 255, 255);
    border-radius: 20px;
}
#btn{
    display: flex;
    justify-content:center;
    justify-content: space-evenly;
}
#block{
    text-align: justify;
    margin-left: 25%;
    font-size: large;
    color:rgb(0, 0, 0);
}
h2{
    text-align: center;
    font-size:x-large;
    text-decoration: underline;
    color:hsl(0, 0%, 1%);
}
h4{
    text-align: center;
    font-size:x-large;
    color:black;
}
#count{
    margin-left: 48%;
    font-size: large;
}
#n1{
    margin-left: 250px;
    margin-top: 20px;
    width: 20%;
    height: 30px;
}
#b1{
    width: 55px;
    border-radius: 20%;
    color:rgb(243, 14, 7);
    height: 30px;
    width: 70px;
}
#b1:hover{
    background: black;
}
b:hover{
    color: rgb(55, 193, 235);
    font-size: large;
    text-decoration: underline;
}